qubershipApihubAgent:
  version: 'dev'
  image:
    repository: 'localhost/netcracker/qubership-apihub-agent'
    tag: 'latest'
  replicas: 1

  resource:
    memory:
      request: "256Mi"
      limit: "256Mi"
    cpu:
      request: "30m"
      limit: "1"

  logLevel: "INFO"

  env:
    apihubUrl: 'http://qubership-apihub-ui.qubership-apihub.svc.cluster.local:8080'
    accessToken: 'ygNekG0Uw9vjXZGoiqBVEsbVGVyf5o' # set access token from qubership-apihub
    cloudName: 'Kind'
    agentUrl: 'qubership-apihub-agent.qubership-apihub-agent.svc.cluster.local'
    agentName: 'qsAgent'
    insecureProxy: false
