qubership-apihub-agent-service/.idea
qubership-apihub-agent-service/go.sum
.idea
.vscode
qubership-apihub-agent-service/data/**
qubership-apihub-agent-service/static/**
qubership-apihub-agent-service/logs/**
qubership-apihub-agent-service/apihub-agent.exe
qubership-apihub-agent-service/apihub-agent
qubership-apihub-agent-service/bin/**

*.bak
*.iml
*.orig