---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: qubership-apihub-agent
  labels:
    name: qubership-apihub-agent
    app.kubernetes.io/version: '{{ .Values.qubershipApihubAgent.version }}'
    app.kubernetes.io/component: 'backend'
    app.kubernetes.io/technology: 'go'
    app.kubernetes.io/part-of: qubership-apihub-agent
    app.kubernetes.io/managed-by: helm
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        name: qubership-apihub-agent
        app.kubernetes.io/version: '{{ .Values.qubershipApihubAgent.version }}'
        app.kubernetes.io/component: 'backend'
        app.kubernetes.io/part-of: qubership-apihub-agent
        app.kubernetes.io/managed-by: helm
        app.kubernetes.io/technology: 'go'
    spec:
      serviceAccountName: qubership-apihub-agent
      volumes:
        - name: qubership-apihub-agent-config
          secret:
            defaultMode: 420
            secretName: qubership-apihub-agent-config-secret
        - name: tmp-volume
          emptyDir: {}
      hostPID: false
      hostIPC: false
      containers:
        - name: qubership-apihub-agent
          image: '{{ .Values.qubershipApihubAgent.image.repository }}:{{ .Values.qubershipApihubAgent.image.tag }}'
          volumeMounts:
            - name: qubership-apihub-agent-config
              mountPath: /app/qubership-apihub-agent/etc/
              readOnly: true
            - name: tmp-volume
              mountPath: /tmp
          ports:
            - name: web
              containerPort: 8080
              protocol: TCP
          env:
            - name: LOG_LEVEL
              value: '{{ .Values.qubershipApihubAgent.logLevel }}'
            - name: AGENT_CONFIG_FOLDER
              value: '/app/qubership-apihub-agent/etc/'
          resources:
            requests:
              cpu: '{{ .Values.qubershipApihubAgent.resource.cpu.request }}'
              memory: '{{ .Values.qubershipApihubAgent.resource.memory.request }}'
            limits:
              cpu: '{{ .Values.qubershipApihubAgent.resource.cpu.limit }}'
              memory: '{{ .Values.qubershipApihubAgent.resource.memory.limit }}'
          livenessProbe:
            httpGet:
              path: /live
              port: web
            initialDelaySeconds: 5
            timeoutSeconds: 2
          readinessProbe:
            httpGet:
              path: /ready
              port: web
            initialDelaySeconds: 5
            timeoutSeconds: 2
          startupProbe:
            httpGet:
              path: /startup
              port: web
            initialDelaySeconds: 5
            timeoutSeconds: 2
            periodSeconds: 5
          securityContext:
            runAsUser: 10001
            runAsGroup: 10001
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
  selector:
    matchLabels:
      name: qubership-apihub-agent

