---
apiVersion: v1
data:
  config.yaml: {{ $config := deepCopy .Values.qubershipApihubAgent.env -}}
               {{- $_ := set $config.technicalParameters "namespace" .Release.Namespace -}}
               {{- $host := .Values.qubershipApihubAgent.env.technicalParameters.agentHost -}}
               {{- $protocol := .Values.qubershipApihubAgent.env.technicalParameters.agentProtocol -}}
               {{- $port := .Values.qubershipApihubAgent.env.technicalParameters.agentPort -}}
               {{- $agentUrl := ternary (printf "%s://%s:%s" $protocol $host $port) (printf "%s://%s" $protocol $host) (ne $port "") -}}
               {{- $_ := set $config.technicalParameters "agentUrl" $agentUrl -}}
               {{- $config | toYaml | b64enc }}
kind: Secret
metadata:
  name: qubership-apihub-agent-config-secret
  labels:
    app.kubernetes.io/part-of: qubership-apihub-agent
    app.kubernetes.io/managed-by: helm
type: Opaque
